USE [master]
GO
/****** Object:  Database [CineDBCabrera]    Script Date: 10/9/2026 19:52:51 ******/
CREATE DATABASE [CineDBCabrera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineDBCabrera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineDBCabrera]
GO
/****** Object:  Table [dbo].[Entradas]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[IdEntrada] [int] IDENTITY(1,1) NOT NULL,
	[IdFuncion] [int] NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[FechaCompra] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Entradas] PRIMARY KEY CLUSTERED 
(
	[IdEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funciones]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funciones](
	[IdFuncion] [int] IDENTITY(1,1) NOT NULL,
	[IdPelicula] [int] NOT NULL,
	[Sala] [int] NOT NULL,
	[FechaHora] [datetime2](0) NOT NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Capacidad] [int] NOT NULL,
 CONSTRAINT [PK_Funciones] PRIMARY KEY CLUSTERED 
(
	[IdFuncion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[IdPelicula] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](120) NOT NULL,
	[Genero] [nvarchar](40) NOT NULL,
	[DuracionMin] [int] NOT NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Entradas] ON 

INSERT [dbo].[Entradas] ([IdEntrada], [IdFuncion], [Cliente], [Cantidad], [Total], [FechaCompra]) VALUES (1, 1, N'Vera Domínguez', 2, CAST(19000.00 AS Decimal(12, 2)), CAST(N'2026-09-03T12:38:39.0000000' AS DateTime2))
INSERT [dbo].[Entradas] ([IdEntrada], [IdFuncion], [Cliente], [Cantidad], [Total], [FechaCompra]) VALUES (2, 1, N'Hugo Pereyra', 3, CAST(28500.00 AS Decimal(12, 2)), CAST(N'2026-09-03T12:38:39.0000000' AS DateTime2))
INSERT [dbo].[Entradas] ([IdEntrada], [IdFuncion], [Cliente], [Cantidad], [Total], [FechaCompra]) VALUES (3, 2, N'Celia Márquez', 2, CAST(19000.00 AS Decimal(12, 2)), CAST(N'2026-09-03T12:38:39.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[Funciones] ON 

INSERT [dbo].[Funciones] ([IdFuncion], [IdPelicula], [Sala], [FechaHora], [Precio], [Capacidad]) VALUES (1, 1, 1, CAST(N'2026-09-03T20:00:00.0000000' AS DateTime2), CAST(9500.00 AS Decimal(12, 2)), 40)
INSERT [dbo].[Funciones] ([IdFuncion], [IdPelicula], [Sala], [FechaHora], [Precio], [Capacidad]) VALUES (2, 2, 2, CAST(N'2026-09-03T20:00:00.0000000' AS DateTime2), CAST(9500.00 AS Decimal(12, 2)), 30)
INSERT [dbo].[Funciones] ([IdFuncion], [IdPelicula], [Sala], [FechaHora], [Precio], [Capacidad]) VALUES (3, 3, 1, CAST(N'2026-09-03T22:00:00.0000000' AS DateTime2), CAST(9500.00 AS Decimal(12, 2)), 40)
SET IDENTITY_INSERT [dbo].[Funciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([IdPelicula], [Titulo], [Genero], [DuracionMin]) VALUES (1, N'El Secreto del Molino', N'Suspenso', 118)
INSERT [dbo].[Peliculas] ([IdPelicula], [Titulo], [Genero], [DuracionMin]) VALUES (2, N'Vacaciones en Carlos Paz', N'Comedia', 95)
INSERT [dbo].[Peliculas] ([IdPelicula], [Titulo], [Genero], [DuracionMin]) VALUES (3, N'La Última Frontera', N'Acción', 132)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
ALTER TABLE [dbo].[Entradas] ADD  CONSTRAINT [DF_Entradas_Fecha]  DEFAULT (sysdatetime()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD  CONSTRAINT [FK_Entradas_Funciones] FOREIGN KEY([IdFuncion])
REFERENCES [dbo].[Funciones] ([IdFuncion])
GO
ALTER TABLE [dbo].[Entradas] CHECK CONSTRAINT [FK_Entradas_Funciones]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [FK_Funciones_Peliculas] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Peliculas] ([IdPelicula])
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [FK_Funciones_Peliculas]
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD  CONSTRAINT [CK_Entradas_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Entradas] CHECK CONSTRAINT [CK_Entradas_Cantidad]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [CK_Funciones_Capacidad] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [CK_Funciones_Capacidad]
GO
ALTER TABLE [dbo].[Funciones]  WITH CHECK ADD  CONSTRAINT [CK_Funciones_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Funciones] CHECK CONSTRAINT [CK_Funciones_Precio]
GO
ALTER TABLE [dbo].[Peliculas]  WITH CHECK ADD  CONSTRAINT [CK_Peliculas_Duracion] CHECK  (([DuracionMin]>(0)))
GO
ALTER TABLE [dbo].[Peliculas] CHECK CONSTRAINT [CK_Peliculas_Duracion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Cartelera]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   PROCEDIMIENTOS ALMACENADOS
   ============================================================ */

-- Cartelera: películas con cantidad de funciones futuras
CREATE   PROCEDURE [dbo].[usp_Cartelera]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdPelicula  AS idPelicula,
        P.Titulo      AS titulo,
        P.Genero      AS genero,
        P.DuracionMin AS duracionMin,
        COUNT(F.IdFuncion) AS funcionesProximas
    FROM dbo.Peliculas AS P
    LEFT JOIN dbo.Funciones AS F
        ON F.IdPelicula = P.IdPelicula
       AND F.FechaHora >= SYSDATETIME()
    GROUP BY P.IdPelicula, P.Titulo, P.Genero, P.DuracionMin
    ORDER BY P.Titulo;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ComprarEntradas]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Compra de entradas: la regla es la capacidad de la sala
CREATE   PROCEDURE [dbo].[usp_ComprarEntradas]
    @IdFuncion INT,
    @Cliente   NVARCHAR(100),
    @Cantidad  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = N''
        THROW 50003, 'Debe indicar el nombre del cliente.', 1;

    IF @Cantidad <= 0
        THROW 50004, 'La cantidad debe ser mayor a cero.', 1;

    DECLARE @Capacidad INT, @Precio DECIMAL(12,2), @Vendidas INT;

    SELECT @Capacidad = Capacidad, @Precio = Precio
    FROM dbo.Funciones
    WHERE IdFuncion = @IdFuncion;

    IF @Capacidad IS NULL
        THROW 50002, 'La función indicada no existe.', 1;

    SELECT @Vendidas = ISNULL(SUM(Cantidad), 0)
    FROM dbo.Entradas
    WHERE IdFuncion = @IdFuncion;

    IF @Vendidas + @Cantidad > @Capacidad
        THROW 50016, 'No hay butacas suficientes para esa cantidad.', 1;

    INSERT INTO dbo.Entradas (IdFuncion, Cliente, Cantidad, Total)
    VALUES (@IdFuncion, LTRIM(RTRIM(@Cliente)), @Cantidad, @Cantidad * @Precio);

    SELECT SCOPE_IDENTITY() AS idEntrada, @Cantidad * @Precio AS total;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_DemoLento]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DEMO: un procedimiento deliberadamente LENTO (1 segundo).
-- Simula una consulta pesada para medir secuencial vs paralelo.
CREATE   PROCEDURE [dbo].[usp_DemoLento]
AS
BEGIN
    SET NOCOUNT ON;

    WAITFOR DELAY '00:00:01';   -- duerme 1 segundo a propósito

    SELECT 1 AS ok;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarFunciones]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Funciones futuras con butacas vendidas y disponibles
CREATE   PROCEDURE [dbo].[usp_ListarFunciones]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        F.IdFuncion  AS idFuncion,
        P.Titulo     AS pelicula,
        F.Sala       AS sala,
        F.FechaHora  AS fechaHora,
        F.Precio     AS precio,
        F.Capacidad  AS capacidad,
        ISNULL(SUM(E.Cantidad), 0)               AS vendidas,
        F.Capacidad - ISNULL(SUM(E.Cantidad), 0) AS disponibles
    FROM dbo.Funciones AS F
    INNER JOIN dbo.Peliculas AS P ON P.IdPelicula = F.IdPelicula
    LEFT JOIN dbo.Entradas AS E ON E.IdFuncion = F.IdFuncion
    WHERE F.FechaHora >= SYSDATETIME()
    GROUP BY F.IdFuncion, P.Titulo, F.Sala, F.FechaHora, F.Precio, F.Capacidad
    ORDER BY F.FechaHora;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ResumenVentas]    Script Date: 10/9/2026 19:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KPIs (subconsultas escalares)
CREATE   PROCEDURE [dbo].[usp_ResumenVentas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT ISNULL(SUM(Cantidad), 0) FROM dbo.Entradas)  AS entradasVendidas,
        (SELECT ISNULL(SUM(Total), 0) FROM dbo.Entradas)     AS recaudado,
        (SELECT COUNT(*) FROM dbo.Funciones
         WHERE FechaHora >= SYSDATETIME())                   AS funcionesProximas;
END;
GO
USE [master]
GO
